<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.min.css">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <div class="external-links">
                        <li><a href="/api" target="_blank">API Platform</a></li>
                        <li><a href="http://localhost:5173/" target="_blank">ReactApp</a></li>
                    </div>
                    <div class="list">
                        <li><a href="{{ path('users_list') }}" class="{{ app.request.attributes.get('_route') == 'users_list' ? 'active' : '' }}">Home</a></li>
                    </div>
                    <div class="auth">
                        {% if app.user %}
                            <li><a href="{{ path('app_logout') }}">Logout</a></li>
                        {% else %}
                            <li><a href="{{ path('app_login') }}">Login</a></li>
                            <li><a href="{{ path('app_register') }}">Register</a></li>
                        {% endif %}
                    </div>
                </ul>
            </nav>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
